In [1]:
import pandas as pd

In [22]:
ILINet_df = pd.read_csv('../data/FluViewPhase2Data/ILINet.csv')
WHO_NREVSS_Clinical_Labs_df = pd.read_csv('../data/FluViewPhase2Data/WHO_NREVSS_Clinical_Labs.csv',skiprows=[0])
WHO_NREVSS_Combined_prior_to_2015_16_df = pd.read_csv('../data/FluViewPhase2Data/WHO_NREVSS_Combined_prior_to_2015_16.csv',skiprows=[0])
WHO_NREVSS_Public_Health_Labs_df = pd.read_csv("../data/FluViewPhase2Data/WHO_NREVSS_Public_Health_Labs.csv",skiprows=[0])
cdc_truth = pd.read_csv("../data/CDC/truth-Incident Hospitalizations.csv")

In [18]:
ILINet_df[ILINet_df['YEAR'] == 2023]

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
34468,States,Alabama,2023,1,X,3.39798,X,X,X,X,X,X,1668,102,49088
34469,States,Alaska,2023,1,X,1.82741,X,X,X,X,X,X,72,12,3940
34470,States,Arizona,2023,1,X,2.59132,X,X,X,X,X,X,559,43,21572
34471,States,Arkansas,2023,1,X,3.44545,X,X,X,X,X,X,547,49,15876
34472,States,California,2023,1,X,5.38828,X,X,X,X,X,X,13212,218,245199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34738,States,Wyoming,2023,5,X,0.93801,X,X,X,X,X,X,23,13,2452
34739,States,Commonwealth of the Northern Mariana Islands,2023,5,X,X,X,X,X,X,X,X,X,X,X
34740,States,Puerto Rico,2023,5,X,6.72468,X,X,X,X,X,X,170,8,2528
34741,States,Virgin Islands,2023,5,X,0.945017,X,X,X,X,X,X,11,4,1164
34742,States,New York City,2023,5,X,4.86719,X,X,X,X,X,X,5083,105,104434

In [34]:
WHO_NREVSS_Clinical_Labs_df[WHO_NREVSS_Clinical_Labs_df['YEAR'] == 2023]

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
20412,States,Alabama,2023,1,418,15,0,3.59,3.59,0
20413,States,Alaska,2023,1,X,X,X,X,X,X
20414,States,Arizona,2023,1,449,32,0,7.13,7.13,0
20415,States,Arkansas,2023,1,478,21,2,4.81,4.39,0.42
20416,States,California,2023,1,16489,1151,7,7.02,6.98,0.04
...,...,...,...,...,...,...,...,...,...,...
20677,States,Wisconsin,2023,5,9428,195,7,2.14,2.07,0.07
20678,States,Wyoming,2023,5,X,X,X,X,X,X
20679,States,Puerto Rico,2023,5,0,0,0,0,0,0
20680,States,Virgin Islands,2023,5,X,X,X,X,X,X
20681,States,New York City,2023,5,X,X,X,X,X,X

In [33]:
cdc_truth[cdc_truth['date'] == '2023-01-07']

            date location         location_name  value
8012  2023-01-07       02                Alaska     32
8013  2023-01-07       01               Alabama    124
8014  2023-01-07       05              Arkansas    146
8015  2023-01-07       04               Arizona    347
8016  2023-01-07       06            California    854
8017  2023-01-07       08              Colorado    146
8018  2023-01-07       09           Connecticut    160
8019  2023-01-07       11  District of Columbia     15
8020  2023-01-07       10              Delaware     41
8021  2023-01-07       12               Florida   1085
8022  2023-01-07       13               Georgia    159
8023  2023-01-07       15                Hawaii     10
8024  2023-01-07       19                  Iowa    202
8025  2023-01-07       16                 Idaho    101
8026  2023-01-07       17              Illinois    383
8027  2023-01-07       18               Indiana    342
8028  2023-01-07       20                Kansas    119
8029  2023-01-07       21              Kentucky    123
8030  2023-01-07       22             Louisiana    147
8031  2023-01-07       25         Massachusetts    466
8032  2023-01-07       24              Maryland    161
8033  2023-01-07       23                 Maine    109
8034  2023-01-07       26              Michigan    645
8035  2023-01-07       27             Minnesota     75
8036  2023-01-07       29              Missouri    370
8037  2023-01-07       28           Mississippi     83
8038  2023-01-07       30               Montana     58
8039  2023-01-07       37        North Carolina    196
8040  2023-01-07       38          North Dakota     69
8041  2023-01-07       31              Nebraska     92
8042  2023-01-07       33         New Hampshire    101
8043  2023-01-07       34            New Jersey    317
8044  2023-01-07       35            New Mexico    163
8045  2023-01-07       32                Nevada    106
8046  2023-01-07       36              New York    798
8047  2023-01-07       39                  Ohio    429
8048  2023-01-07       40              Oklahoma    481
8049  2023-01-07       41                Oregon    130
8050  2023-01-07       42          Pennsylvania    774
8051  2023-01-07       72           Puerto Rico     64
8052  2023-01-07       44          Rhode Island     31
8053  2023-01-07       45        South Carolina    128
8054  2023-01-07       46          South Dakota     58
8055  2023-01-07       47             Tennessee    176
8056  2023-01-07       48                 Texas   1175
8057  2023-01-07       US                    US  12779
8058  2023-01-07       49                  Utah     54
8059  2023-01-07       51              Virginia    194
8060  2023-01-07       78        Virgin Islands      0
8061  2023-01-07       50               Vermont     41
8062  2023-01-07       53            Washington    208
8063  2023-01-07       55             Wisconsin    323
8064  2023-01-07       54         West Virginia    135
8065  2023-01-07       56               Wyoming     33